.header{
  width: auto;
  height: 150px;
  padding: 0 10%;
  font-family: 'Poppins', sans-serif;
  border-radius: 61px;
background: #d49081;
box-shadow:  -5px 5px 0px #c18375,
             5px -5px 0px #e79d8d;

}
img{

  position:absolute;
  top: 20px;
  left: 30px;
}
a{
    color: white;
    font-size:20px;
    text-decoration: none;

}
ul{
  position:absolute;
  top: 20px;
  right: 300px;
  background-color: #d49081;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 30px;
  gap: 100px;
  border-radius: 61px;
background: linear-gradient(225deg, #e39a8a, #bf8274);
box-shadow:  -17px 17px 34px #b2796c,
             17px -17px 34px #f6a796;
}

li {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
}

li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom center;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

li:hover::after{
  transform: scalex(1);
  transform-origin: bottom center;
}