<div *ngFor="let p of this.pokemons">
	<img [src]="p.sprites.front_default"/>
	<a [routerLink]="['/pokedex',p.id]">{{p.name}}</a>
	<div>
		<span *ngFor="let t of p.types"> {{ t.type.name }} </span>
	</div>
	<div>
		<div *ngFor="let a of p.abilities">
			<span *ngIf="!a.is_hidden">{{ a.ability.name }}</span>
		</div>
	</div>
	<div>
		<div *ngFor="let a of p.abilities">
			<span *ngIf="a.is_hidden">{{ a.ability.name }}</span>
		</div>
	</div>


</div>
<!--
<div>
	<a routerLink="/pokedex" [queryParams]="{limit:50, offset:0}">prec</a>
	<a routerLink="/pokedex" [queryParams]="{limit:50, offset:50}">next</a>
</div>
-->
