<div class="pokedex-table" *ngFor="let p of this.pokemons">
  <div class="pokedex-row">
    <div class="pokedex-cell">
	    <img [src]="p.sprites.front_default" style="vertical-align:middle"/>
	    <a [routerLink]="['/pokedex',p.id]">{{p.name}}</a>
    </div>
    <div class="pokedex-cell" *ngFor="let t of p.types"> {{ t.type.name }}</div>
	  <div class="pokedex-cell" div *ngFor="let a of p.abilities">
			<span *ngIf="!a.is_hidden">{{ a.ability.name }}</span>
	  </div>
	  <div class="pokedex-cell" *ngFor="let a of p.abilities">
			<span *ngIf="a.is_hidden">{{ a.ability.name }}</span>
	  </div>
  </div>
</div>
<!--
<div>
	<a routerLink="/pokedex" [queryParams]="{limit:50, offset:0}">prec</a>
	<a routerLink="/pokedex" [queryParams]="{limit:50, offset:50}">next</a>
</div>
-->
