<div class="about-section">
  <h1>About Us</h1>
  <p>We choose an API about POKEMONS, through which we will be able to display the differents characteristics of a specific pokemon.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Adrien VASSELIN</h2>
        <p>adrien.vasselin@isen.yncrea.fr</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ahamadi Abdallah IDRISSE</h2>
        <p>ahamadi-abdallah.idrisse@isen.yncrea.fr</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Erwann LUBRANO</h2>
        <p>erwann.lubrano@isen.yncrea.fr</p>
      </div>
    </div>
  </div>
</div>
