
#homepage{
    display: flex;
    justify-content: center;
    margin-left: 45%;
    max-width: 100%;
    height: auto;
  width:300px;
}
.body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}




