

<div *ngIf="this.stats != null" class="stats-container table-stats">

	<div class="table-row">
		<div class="table-cell label-stat">
			hp : {{ this.formated_stats.hp.value }}
		</div>
		<div class="stat-bar table-cell">
			<div class="stat-bar-fill" [style.width]="this.formated_stats.hp.width +'%'" [style.background-color]="this.formated_stats.hp.color">hp</div>
			<!--<div class="stat-bar-label"></div>-->
		</div>
	</div>
	
	<div class="table-row">
		<div class="table-cell label-stat">
			att : {{ this.formated_stats.att.value }}
		</div>
		<div class="stat-bar table-cell">
			<div class="stat-bar-fill" [style.width]="this.formated_stats.att.width +'%'" [style.background-color]="this.formated_stats.att.color">Attack</div>
			<div class="stat-bar-label"></div>
		</div>
	</div>
	
	<div class="table-row">
		<div class="table-cell label-stat">
			def : {{ this.formated_stats.def.value }}
		</div>
		<div class="stat-bar table-cell">
			<div class="stat-bar-fill" [style.width]="this.formated_stats.def.width +'%'" [style.background-color]="this.formated_stats.def.color">Défense</div>
			<div class="stat-bar-label"></div>
		</div>
	</div>

	<div class="table-row">
		<div class="table-cell label-stat">
			spA : {{ this.formated_stats.spA.value }}
		</div>
		<div class="stat-bar table-cell">
			<div class="stat-bar-fill" [style.width]="this.formated_stats.spA.width +'%'" [style.background-color]="this.formated_stats.spA.color">Sp. Atk</div>
			<div class="stat-bar-label"></div>
		</div>
	</div>

	<div class="table-row">
		<div class="table-cell label-stat">
			spD : {{ this.formated_stats.spD.value }}
		</div>
		<div class="stat-bar table-cell">
			<div class="stat-bar-fill" [style.width]="this.formated_stats.spD.width +'%'" [style.background-color]="this.formated_stats.spD.color">Sp. Def</div>
			<div class="stat-bar-label"></div>
		</div>
	</div>

	<div class="table-row">
		<div class="table-cell label-stat">
			spe : {{ this.formated_stats.spe.value }}
		</div>
		<div class="stat-bar table-cell">
			<div class="stat-bar-fill" [style.width]="this.formated_stats.spe.width +'%'" [style.background-color]="this.formated_stats.spe.color">Speed</div>
			<div class="stat-bar-label"></div>
		</div>
	</div>

 
</div>
  