

<div *ngIf="this.pokemon != null">
	<!--name-->
	<h3> {{this.pokemon.name}} </h3>
	
	<!--types-->
	<h2>Types</h2>
	<div>
		<span *ngFor="let t of this.pokemon.types"> {{ t.type.name }} </span>
	</div>
	
	<!--Abilities-->
	<h2>Abilities</h2>
	<ul>
		<li *ngFor="let a of this.pokemon.abilities">
			{{ a.ability.name }} <span *ngIf="a.is_hidden">hidden ability</span>
		</li>
	</ul>
	
	<!--stats-->
	<app-pokemon-stats [stats]="this.pokemon.stats"></app-pokemon-stats>
	<!---->
	<app-pokemon-move-list [moves]="this.pokemon.moves"></app-pokemon-move-list>

</div>