<div *ngIf="this.pokemon != null">


	<div *ngIf="this.pokemon.varieties.length>1">
		<h3>Forms</h3>
		<ul>
			<li *ngFor="let f of this.pokemon.varieties">
				<a *ngIf="this.pokemon.id===f.pokemon.id" [routerLink]="['/pokedex',f.pokemon.id]" class="activeForm">{{f.pokemon.name}}</a>
				<a *ngIf="this.pokemon.id!==f.pokemon.id" [routerLink]="['/pokedex',f.pokemon.id]" class="unActiveForm">{{f.pokemon.name}}</a>
			</li>
		</ul>
	</div>
	<!--name-->
	<div class="card">
	<h3> {{this.pokemon.name}} </h3>
	
	

	<!--sprite-->
	
	<img [src]="this.pokemon.sprites.front_default"/>
</div>
	<!--types-->
	<h2>Types</h2>
	<div>
		<!--<span *ngFor="let t of this.pokemon.types"> {{ t.type.name }} </span>-->
		<app-type [types]="this.pokemon.types"></app-type>
	</div>

	<!--Abilities-->
	<h2>Abilities</h2>
	<ul>
		<li *ngFor="let a of this.pokemon.abilities">
			{{ a.ability.name }} <span *ngIf="a.is_hidden">(hidden)</span>
		</li>
	</ul>

	<!--stats-->
	<app-pokemon-stats [stats]="this.pokemon.stats" #statsComp></app-pokemon-stats>
	
	<!--description-->
	<h2>Description</h2>
	<div><p>{{this.pokemon.text_entrie}}</p></div>
	
	<!--evolutions-->
	<div *ngIf="this.pokemon.evolution_tree">
	<h2>Evolutions</h2>
	<ul>
		<li><a [routerLink]="['/pokedex',this.pokemon.evolution_tree.id]">{{this.pokemon.evolution_tree.name}}</a>
			<ul *ngFor="let e of this.pokemon.evolution_tree.evolutions">
				<li><a [routerLink]="['/pokedex',e.id]">{{e.name}}</a>
					<ul *ngFor="let f of e.evolutions">
						<li><a [routerLink]="['/pokedex',f.id]">{{f.name}}</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	</div>
	<!---->
	<app-pokemon-move-list [moves]="this.pokemon.moves"></app-pokemon-move-list>

</div>
