footer {
  display: flex;
  justify-content:  space-evenly;
  background: #FF9950;
  color: #2e068a;
  font-family: 'Poppins', sans-serif;

  width: auto;
  height: auto;
  padding: 20px;
  font-size: 16pt;
  margin-right: 5%;
  align-items: left;

  position: fixed;  
  left: 0;  
  bottom: 0; 
  width: 100%; 
}
