footer {
  display: flex;
  justify-content:  space-evenly;
  background: #d49081;
  color: #2e068a;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px -4px 5px 0px rgba(126, 66, 66, 0.75);
  width: auto;
  height: auto;
  padding: 20px;
  font-size: 16pt;
  margin-right: 5%;
  align-items: left;

  position: fixed;  /* Add this */
  left: 0;  /* Add this */
  bottom: 0;  /* Add this */
  width: 100%;  /* Add this */
}
